.picture {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

body {
  background-color: rgb(220, 164, 174);
}

.card-container {
  margin: auto;
  width: 380px;
  height: 500px;
  margin-top: 120px;
  margin-bottom: 120px;
  background-color: white;
  border-color: black;
  border-width: 20px;
}